body{
  margin: 0px;
  background: #1E242A;
}


#main{
  width: 100%;
  height: 100%;
  position: absolute;

}

#box1{
  width: 668px;
  height: 622px;
  background-image:url("images/grid.png");
  position: relative;
  padding-top: 119px;
  left: 48%;
  animation: anim 2s forwards, anim2 5s forwards 5s;
}


 #box1:after{
  content: '';
  position: relative;
  left: 50%;
  width: 530px;
  height: 625px;
  background-image:
   url("images/black.png");
  left: 0px;
}

 @keyframes anim {
  from{
    bottom: -100%;
  }

  to{
    bottom: 20%;
  }
}
@keyframes anim2 {
  from{
    left: 50%;
    width: 0px;
  }
  to{
    width: 0px;
    left: 50%
  }
}

#box2{
  width: auto;
  height: auto;
  font-family: "Bahnschrift Condensed";
  color: white;
  font-size: 10em;
  font-weight: 500;
  line-height: 130px;
  position: absolute;
  top: 250px;
  left: 100px;
  overflow: hidden;
}

#text{
  position: relative;
  left: -100%;
  animation: anim3 2s forwards 3s;
}

@keyframes anim3 {
  from{
    left: -100%;
  }
  to{
    left: 0%;
  }
}

#box3{
  overflow: hidden;


}
.container-fluid{
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: -100%;
  animation: anim4 2s forwards 2.5s;
  z-index: 2;
}

#container{
  width: 100%;
  z-index: 1;
  padding-top: 100px;
  position: absolute;
  top: -150%;
  animation: anim4 2s forwards 2.5s;
}




#logo{
  float: right;
  margin-left: 100px;
  margin-top: 20px;
}
.logo-2{
  width: 100%;
  padding-right: 100px;

}

#menu{
  font-family: "Bahnschrift Condensed";
  font-size: 14px;
  color: white;
  letter-spacing: 2px;
  margin-right: 150px;
  margin-top: 20px;
  float: right;
}
.menu-ul{
  list-style: none;
}
.menu-ul-li{
  display: inline-block;
  margin-left: 100px;
}

@keyframes anim4 {
    from{
      top: -100%;
    }
    to{
      top: 0%;
    }
}

#footer{
  position: absolute;
  top: 200%;
  width: 100%;
  height: 20%;
  background-color: blue;
}
#footer{
  text-align: center;
  padding: 7% 15%;
}

#project{
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: red;
}

.project-card{
  padding: 100px;
}



.social-icon{
width: 10%;
margin: 20px 10px;
}
