body {
  margin: 0px;
  background: #1E242A;
}

#main {
  width: 100%;
  height: 100%;
  position: absolute;
}

#box1 {
  width: 668px;
  height: 622px;
  background-image: url("images/grid.png");
  position: absolute;
  padding-top: 119px;
  left: 48%;
  animation: anim 2s forwards, anim2 5s forwards 5s;
}

#box1:after {
  content: '';
  position: relative;

  width: 530px;
  height: 625px;
  background-image:
    url("images/black.png");
}

@keyframes anim {
  from {
    bottom: -100%;
  }

  to {
    bottom: 20%;
  }
}

@keyframes anim2 {
  from {
    left: 48%;
    width: 0px;
  }

  to {
    width: 0px;
    left: 48%
  }
}

#box2 {
  width: auto;
  height: auto;
  font-family: "Bahnschrift Condensed";
  color: white;
  font-size: 10em;
  font-weight: 500;
  line-height: 130px;
  position: absolute;
  top: 250px;
  left: 100px;
  overflow: hidden;
}

#text {
  position: relative;
  left: -100%;
  animation: anim3 2s forwards 3s;
}

@keyframes anim3 {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}

#box3 {
  overflow: hidden;
}

.container-fluid {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: -100%;
  animation: anim4 2s forwards 2.5s;
  z-index: 2;
}

#container {
  width: 100%;
  z-index: 1;
  padding-top: 100px;
  position: absolute;
  top: -150%;
  animation: anim5 2s forwards 2.5s;
}

#logo {
  float: right;
  margin-left: 100px;
  margin-top: 20px;
}

.logo-2 {
  width: 100%;
  padding-right: 216px;
}
.logo-1{

}

#menu {
  font-family: "Bahnschrift Condensed";
  font-size: 14px;
  color: white;
  letter-spacing: 2px;
  margin-right: 150px;
  margin-top: 20px;
  float: right;
}

.menu-ul {
  list-style: none;
}

.menu-ul-li {
  display: inline-block;
  margin-left: 100px;
}

@keyframes anim4 {
  from {
    top: -100%;
  }

  to {
    top: 0%;
  }
}

@keyframes anim5 {
  from{
    top: -100%;
  }
  to{
    top: -9%;
  }
}

#footer {
  position: absolute;
  top: 200%;
  width: 100%;
  height: 20%;
   color: white;
  background-color: #1E242A;
  text-align: center;
  padding: 7% 15%;
}


#project {
  margin: 0;
  padding-bottom: 100px;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: #1E242A;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {

  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.heading{
  color: white;
  position: relative;
  text-align: center;
  padding-bottom: 50px;
}

.swiper-button-next{
  position: absolute;
  height: 100px;
  transform: translateX(300%);
}
.swiper-button-prev{
  position: absolute;
  height: 100px;
  transform: translateX(-300%);
}

.swiper-pagination{
  position: absolute;
  top: 100%;
}

.swiper-slide:nth-child(1n) {
  background-color: grey;
  background-position: center;
}

.swiper-slide:nth-child(2n) {
  background-color: #8b7194;
  background-position: center;
  background-size: 250px 250px;
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

.social-icon {
  margin: 20px 20px;
  width: 10%;
}
